* {
    background-color: silver;
}

button {
    border: 1px solid black;
    border-radius: 3px;
}

.main {
    background-color: #edfffb;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    align-items: center;
    border: 1px solid;
    gap: 3%;
    padding: 3%;
}

.display {
    background-color: white;
    border: solid 1px black;
    margin-bottom: 3%;
    padding-top: 18%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
    width: 100%;
    text-align: end;
}

.deleters {
    background-color: #edfffb;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3%;
    width: 100%;
}

.deleters button{
    background-color: red;
    padding: 6%;
}

.numpad {
    background-color: #edfffb;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3%;
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
}

.numpad button {
    padding: 15%;
}

.number {
    background-color: white;
}

.operator {
    background-color: black;
    color: white;
}

.equals {
    background-color: red;
}